<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swufe.sugar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MovieDetial"></activity>
        <activity android:name=".AmeTeleplay" />
        <activity android:name=".ZongTeleplay" />
        <activity android:name=".ChinaTeleplay" />
        <activity android:name=".HotTeleplay" />
        <activity android:name=".ColdMovies" />
        <activity android:name=".HightMovies" />
        <activity android:name=".NewMovies" />
        <activity android:name=".HotMovies" />
        <activity android:name=".PageChange" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>